
.topbar{
    background:#8bad61; height:70px;color:white;
  }
.bottombar{

    background:#8bad61; height:130px;color:white;
  
  }
  .nexttext{
    font-size:50px;
    color:#8bad61;
  }
  .forcolor{
    background:#8bad61;
  }
  
  .formdg{
  	background:#8bad61;
  }

.a{
color:white;
font-size:30px;
}

.cl{
	color:white;
}
a:hover{
	background:#4e581d !important;
	color:white !important;

	}

.anchor:hover{
	background:transparent !important;
}

.navstyle{
		background:white;

	}
.weare{
	margin-top:10px;
	margin-left:350px;


}
.logo{
    background: url("../images/logo.png") no-repeat 50% 50% transparent;
    background-size: contain;
    height:100px;
      
}
.container{
	      background-image: url("../images/bg.jpg");
    background-size: cover;
    
	
}

.service{
	margin-top:10px;
	width:400px;
	float:left;
	border:solid 1px black;
	height:400px;
	background:#8bad61;
	color:white;
	
}
.cost{
	margin-top:10px;
	margin-left:10px;
	float:left;
	width:400px;
	height:400px;
	border:solid 1px black;
	background:#8bad61;
	color:white;
	
}
.lg_sign{
	margin-top:20px;
	background:#8bad61;
}

.google{
	margin-top:10px;
	clear:both;
	color:white;
}
.form-control{
		width:500px;
		height:40px;
		border:none;
}
.lgmsg{
	background:#8bad61;
	}